body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.figurePosition {
  position: relative;
  top: 0px;
  left: 0px;
}

.matrix {
  margin: 5px;
}

.matrix-sub-view-for-spliting-layout {
  height: 371px;
  padding: 0;
  display: flex;
}

.matrix-figure {
  width: min-content;
}

.matrix-control-panel {
  padding: 30px;
  margin: 0;
  text-align: center;
}

.matrix-selected-line-div {
  margin: 0;
  padding: 1% 0;
  flex-grow: 1.1;
  display: flex;
}

.matrix-polyline {
  padding: 0;
  height: 300px;
  width: 1012px;
}

.map-container {
  border-color: rgb(221, 221, 221);
  height: 700px;
}

#map {
  width: 600px;
  height: 678px;
}

.col-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.matrix-figure img {
  cursor: crosshair;
}

.well-svg {
  width: 700px;
  height: 700px;
}

.well-svg-div {
  width: min-content;
  margin: auto;
}

.well-circle {
  fill-opacity: 0.1;
  stroke-opacity: 0.8;
  stroke: black;
}
.well-circle:hover {
  fill: yellow;
  fill-opacity: 1;
}
.well-circle-selected {
  fill: yellow;
  fill-opacity: 1;
}

.well-near {
  fill: green;
  fill-opacity: 0.5;
  z-index: 20;
}

.well-match-svg {
  position: absolute;
  top: 22px;
  left: 0px;
  height: 478px;
  width: 700px;
}

.well-match-div {
  width: 700px;
  height: 500px;
  position: relative;
  margin-right: 50px;
  border-left: none;
  margin-bottom: 0;
  border-color: rgb(221, 221, 221);
}

.attr-diff-div {
  width: min-content;
  height: 200px;
  border-color: rgb(221, 221, 221);
}

.focus-div {
  width: 1000px;
  height: 1500px;
}

.focus-well-match-div {
  width: 800px;
  height: 600px;
}

.focus-attr-diff-div {
  height: 300px;
}
.seism {
  display: flex;
  margin: 5px;
}

.leaflet-heatmap-layer {
  z-index: -300;
  pointer-events: none;
}

.vertex {
  pointer-events: visible;
}

.wellCircle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
}

.trace-positive-path {
  fill: black;
  stroke: black;
  stroke-width: 0.3;
}

.trace-negative-path {
  fill: none;
  stroke: black;
  stroke-width: 0.3;
}

.track-path {
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;
  fill: none;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.button-div {
  float: right;
  width: 100%;
}
.icon-style {
  float: right;
  top: 4px;
}

.icon-style:hover {
  cursor: pointer;
}

.diff-baseline {
  pointer-events: visible;
}

.heading-button {
  height: 22px;
}

.heading-checkbox {
  margin-top: 0;
  float: right;
  margin-right: 15px;
}

.match-legend-div {
  position: absolute;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0px;
  width: 170px;
  height: 70px;
  border-left: 0px;
  border-bottom: 0px;
}

.attr-legend {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  float: right;
  margin-top: 3px;
  margin-right: 3px;
}

.legend-text {
  width: min-content;
  display: inline-block;
  font-size: 12px;
}

.info-panel {
  min-width: 220px;
  border-color: rgb(221, 221, 221);
}

.info-well-circle-div {
  min-height: 180px;
}

.attr-control-panel {
  bottom: 0px;
}

.slider-value-text {
  float: right;
  margin-right: 5px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  white-space: pre;
}

.info-panel-heading {
  padding: 0;
  background-color: rgb(217, 237, 247);
}

.sub-infopanel {
  margin-bottom: 0;
  border-bottom: 0;
  border-right: 0;
}

.panel-font {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.sub-panel-body {
  padding-left: 2px;
  padding-top: 5px;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  height: 100%;
}

#para-body:last-child {
  min-height: 30px;
}

.sliders {
}

.sliders:first-child {
  margin-top: 5px;
}

.sliders:last-child {
  margin-bottom: 13px;
}

.slider-text {
  margin-left: 5px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  white-space: pre;
}

.slider-div {
  width: 60%;
  float: right;
  margin-right: 2px;
  margin-top: 4px;
}

.slider-with-label {
  margin-top: 10px;
}

.sliders:last-child {
  margin-bottom: 20px;
}

#attr-weight-sliders > div {
  margin-top: 14px;
}
/* .sliders:last-child div {
  position: relative;
  bottom: 7px;
}

.sliders:last-child span {
  position: relative;
  bottom: 5px;
} */
