body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.figurePosition {
  position: relative;
  top: 0px;
  left: 0px;
}

.matrix {
  margin: 5px;
}

.matrix-sub-view-for-spliting-layout {
  height: 371px;
  padding: 0;
  display: flex;
}

.matrix-figure {
}

.matrix-control-panel {
  padding: 30px;
  margin: 0;
  text-align: center;
}

.matrix-selected-line-div {
  margin: 0;
  padding: 1% 0;
  flex-grow: 1.1;
  display: flex;
}

.matrix-selected-line-img {
  margin: auto;
}

.matrix-polyline {
  padding: 0;
  height: 300px;
  width: 1012px;
}

.polyline-svg {
}

.leaflet-map {
  width: 400px;
  height: 370px;
}

#map {
  width:700px;
  height:700px;
}

.col-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.matrix-figure img {
  cursor: crosshair;
}

.well-match-axis {
  stroke: black;
}

.well-svg {
  width: 700px;
  height: 700px;
}

.well-svg-div {
  width: min-content;
  margin: auto;
}

.well-circle {
  fill-opacity: 0.1;
  stroke-opacity: 0.8;
  stroke: black;
}
.well-circle:hover {
  fill: yellow;
  fill-opacity: 1;
}
.well-circle-selected {
  fill: yellow;
  fill-opacity: 1;
}

.well-near {
  fill: green;
  fill-opacity: 0.5;
  z-index:20;
}

.well-match-svg {
  width: 300px;
  height: 900px;
}

.well-match-div {
  float: left;
  width: min-content;
}
